body {
  color: #fefdeb;
  text-align: center;
  background-color: #6f0f01;
  font-size: 2vw;
  font-family: Courier New;
  justify-content: center;
}

#icon {
	width: 15%;
}

a:link, a:visited, a:active {
  color: #ececec;
  text-decoration: none;
}